.page-2 .my-projects{
    font-size: 50px;
    margin-bottom: 40px;
}
.page-2 .menu{
    float: right;
    display: flex;
    font-size: 20px;
}
.page-2 .p{
    margin-right: 20px;
    border-color: red;
}
.page-2 .p:hover{
    color: blue;
    text-decoration: underline;
}
.page-2 .image{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px; /* Khoảng cách giữa các ảnh */
}
.page-2 .image img{
    border-radius: 2%;
    width: 100%;
}
.page-2 .body{
    margin: 50px;
}