body {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Thanh Dev */
.page-1 .header {
  margin-top: 0;
  align-items: center;
  background-color: #fbfbfb;
}


.page-1 .im {
  color: #7b64d3;
  font-size: 5vmin;
  margin: 0;
  font-weight: 600;
}

.page-1 .text-header {
  width: 100%;
  height: 100%;
}

.page-1 .text-header h1 {
  margin-bottom: 0;
  font-size: 8vmin;
}

.page-1 .type-apps {
  margin-top: 2vmin;
  font-size: 6vmin;
  margin-bottom: 4vmin;
  font-weight: 600;
}

.page-1 .image-header {
  object-fit: cover;
}

.page-1 #download-cv-btn {
  cursor: pointer;
  width: 22vmin;
  height: 10vmin;
  background-color: #6245c5;
  color: white;
  border-radius: 20px;
  border: none;
  font-size: 2.8vmin;
  font-weight: 600;
}

.page-1 #download-cv-btn:hover {
  background-color: #7b64d3;
}

.page-1 #download-cv-btn:active {
  position: relative;
  top: 5px;
}

.page-1 .play-btn {
  cursor: pointer;
  width: 10vmin;
  height: 10vmin;
  background-color: #6245c5;
  border: none;
  color: aliceblue;
  border-radius: 50%;
  position: relative;
  font-size: 4vmin;
}


.page-1 .play-btn::after {
  position: absolute;
  content: '';
  bottom: -1vmin;
  top: -1vmin;
  left: -1vmin;
  right: -1vmin;
  background-color: transparent;
  border-radius: 50%;
  border: 0.5vmin solid #6245c5;
  margin: 0;
  opacity: 1;
  transform-origin: center;
  animation: anim 1.2s linear infinite;
}

.page-1 .play-btn::before {
  position: absolute;
  content: '';
  bottom: -1vmin;
  top: -1vmin;
  left: -1vmin;
  right: -1vmin;
  background-color: transparent;
  border-radius: 50%;
  border: 0.5vmin solid #6245c5;
  margin: 0;
  opacity: 0.8;
  transform-origin: center;
  animation: anim 1.2s linear 0.8s infinite;
}

.page-1 .play-btn:active {
  position: relative;
  top: 5px;
}

@keyframes anim {
  from {
    margin: 0;
    opacity: 1;
  }

  to {
    margin: -2vmin;
    opacity: 0;
  }
}

.page-1 .play-text {
  font-size: 2.6vmin;
  color: #000000;
  font-weight: 600;
  margin-left: 2vmin;
}

.page-1 .time-work {
  margin-top: 10vmin;

}

.page-1 .about-work {
  margin-top: 10vmin;
}

.page-1 .year-exp {
  font-size: 18vmin;
  margin: 0;
  margin-left: 5vmin;
  margin-top: -6vmin;
  font-weight: 700;
  padding: 0;
}

.page-1 .years-label {
  margin-top: -2vmin;
  letter-spacing: 4.5vmin;
  font-size: 3vmin;
}

.page-1 .job-exp {
  padding-top: 5vmin;
  font-size: 2.9vmin;
}

.page-1 .content-time-overview {

  font-size: 2.4vmin;
  color: gray;
  text-align: justify;
}

.page-1 .ul-benefit {
  list-style: none;
  padding-top: 4vmin;
  padding-left: 0;
  margin: 0;
  font-size: 2.6vmin;
  color: gray;

}

.page-1 .ul-benefit li {
  margin-bottom: 3vmin;
}

.page-1 .ul-benefit li span:first-child {
  margin-right: 3vmin;
}

.page-1 .fa-circle-check {
  color: #6245c5;
}


.page-1 .img-overview {
  border-radius: 20px;
}



.page-1 #readmore-btn-overview {
  margin-top: 2vmin;
  width: 20vmin;
  height: 9vmin;
  border-radius: 15px;
  background-color: #6245c5;
  color: white;
  font-size: 2.8vmin;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.page-1 #readmore-btn-overview:hover {
  background-color: #7b64d3;
}

.page-1 #readmore-btn-overview:active {
  position: relative;
  top: 5px;
}

.page-1 .text-about {
  padding-top: 5vmin;

}

.page-1 .vertical-line {
  margin: 0 2.5vmin;
  border-left: 2px solid gray;
  font-size: 3vmin;
}

.page-1 .title-text-about {
  font-size: 3vmin;
  font-weight: 500;
}

.page-1 .text-about-content {
  margin-bottom: 2.8vmin;
}

.page-1 .text-about-content p {
  color: gray;
  font-size: 2.3vmin;

}

.page-1 .number-text-about {
  font-size: 4vmin;
  color: #6142bb;
  font-weight: 600;
}


.page-1 .skill-contain {
  margin-top: 8vmin;
}

.page-1 .skill-contain p {
  margin-top: 4vmin;
  color: gray;
  font-size: 2.5vmin;
  text-align: justify;
}

.page-1 .skill-contain h1 {
  font-size: 6vmin;
  margin: 0;
}

.page-1 .my-skills-contain h2 {
  font-size: 4.5vmin;
  font-weight: 500;
}

.page-1 .exp-and-edu-contain {
  margin-top: 8vmin;
}

.page-1 .my-skills-table {
  width: 100%;
  border-collapse: collapse;
  border-style: hidden;
  table-layout: fixed;

}

.page-1 .my-skills-table td {
  border: 4vmin solid rgb(255, 255, 255);
}

.page-1 .skill-header {
  display: flex;
  justify-content: space-between;
  font-size: 2.4vmin;
}

.page-1 .my-progress-bar {
  margin-top: 1.5vmin;
  background-color: rgb(208, 208, 208);
  border-radius: 30px;
}

.page-1 .color-bar1 {
  width: 95%;
  background-color: #6142bb;
  height: 0.8vmin;
  border-radius: 30px;
}

.page-1 .color-bar2 {
  width: 90%;
  background-color: red;
  height: 0.8vmin;
  border-radius: 30px;
}

.page-1 .color-bar3 {
  width: 85%;
  background-color: yellow;
  height: 0.8vmin;
  border-radius: 30px;
}

.page-1 .color-bar4 {
  width: 95%;
  background-color: black;
  height: 0.8vmin;
  border-radius: 30px;
}

.page-1 .exp-and-edu-header {

  height: 8vmin;
  border: 0.2vmin solid #6142bb;
  border-radius: 10px;
}

.page-1 .exp-header {

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6142bb;
  border-radius: 10px;
  color: white;
  font-size: 3vmin;
  cursor: pointer;
}

.edu-header {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  border-radius: 10px;
  cursor: pointer;
  background-color: #6142bb;
  color: white;
}


.page-1 .exp-table {
  margin-top: 4vmin;
  width: 100%;
  table-layout: fixed;
}

.edu-table {
  margin-top: 4vmin;
  width: 100%;
  table-layout: fixed;
}

.page-1 .job-des {
  font-size: 3.2vmin;
  font-weight: 500;
}

.page-1 .time-des {
  font-size: 2.5vmin;
  color: #6142bb;
}

.page-1 .line-exp-des {
  margin: 0;
  margin-top: -1.7vmin;
  width: 15%;
}

.page-1 .company-des {
  font-size: 2.5vmin;
}

.page-1 .change-background {
  background-color: white;
  color: black;
}
/* Thanh Dev */
/* Luc Dev */
/* Luc Dev */
/* Hoai Dev */
/* Hoai Dev */