.page-3 {
  margin: 5%;
}
.page-3 * {
  box-sizing: border-box;
}
.page-3 h1 {
  font-size: 45px;
}
.page-3 p {
  font-size: 3vmin;
}
.page-3 button {
  font-size: 2vmin;
}
.page-3 .team-info h1 {
  padding-bottom: 5%;
}
.page-3 .team-info .row-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
}
.page-3 .team-info .row-title .head-page {
  font-size: 45px;
  font-weight: 600;
}
.page-3 .team-info .row-title .btn {
  cursor: pointer;
  font-size: 2.3vmin;
  color: white;
  background-color: #6245c5;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}
.page-3 .team-info .row-title .btn:active {
  box-shadow: 0 0px 0 1px #fff, 0 0 10px 10px #6245c5;
  transform: translateY(5px);
}
.page-3 .team-info .row-img {
  display: table;
  margin-top: 5%;
}
.page-3 .team-info .row-img .column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.page-3 .team-info .row-img .column img {
  border-radius: 2%;
}
.page-3 .testimonial {
  padding-top: 10%;
  background-color: #fbfbfd;
}
.page-3 .testimonial h1 {
  text-align: center;
}
.page-3 .testimonial .flickity-viewport {
  height: auto;
}
.page-3 .testimonial .carousel {
  height: auto;
  width: auto;
}
.page-3 .testimonial .carousel .carousel-cell {
  margin: 30px;
  width: 100%;
}
.page-3 .testimonial .carousel .carousel-cell img {
  margin: 0 46%;
  margin-bottom: 2%;
  border-radius: 100%;
}
.page-3 .testimonial .carousel .carousel-cell .center-text {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding-bottom: 2%;
}
.page-3 .testimonial .carousel .carousel-cell .line {
  width: 50%;
  height: 1px;
  background-color: black;
  margin: 0 auto;
}
.page-3 .testimonial .carousel .carousel-cell .name {
  text-align: center;
  font-weight: 900;
}
.page-3 .testimonial .carousel .carousel-cell .prof {
  text-align: center;
  padding-bottom: 50px;
  font-weight: 200;
}
.page-3 .flickity-page-dots {
  bottom: 50px;
}
.page-3 .work-together .p-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5% 0;
}
.page-3 .work-together .btn {
  cursor: pointer;
  font-size: 2.3vmin;
  color: white;
  background-color: #6245c5;
  border-radius: 10px;
  border: none;
  font-weight: 600;
}
.page-3 .work-together .h-2 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  padding-bottom: 20px;
}
.page-3 .work-together .edit {
  display: flex;
  align-items: center;
}
.page-3 .work-together .icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6245c5;
  width: 30px;
  height: 40px;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
}
.page-3 .work-together .icon:active {
  box-shadow: 0 0px 0 1px #fff, 0 0 10px 10px #6245c5;
  transform: translateY(5px);
}
.page-3 .work-together .fa-brands {
  color: white;
}
.page-3 .work-together .inp {
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid gray;
  margin-top: 20px;
  height: 50px;
  width: 100%;
}
.page-3 .work-together .input-message {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
}
.page-3 label {
  color: gray;
  font-size: 18px;
}
.page-3 .work-together .text-area {
  padding-left: 15px;
  padding-top: 2%;
  height: 100px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.page-3 .work-together .btn:active {
  box-shadow: 0 0px 0 1px #fff, 0 0 10px 10px #6245c5;
  transform: translateY(5px);
}

.page-3 .work-together .head-page {
  font-size: 45px;
  font-weight: 600;
}